img{
    width: 300px;
    height: 300px;
    margin: auto
}

input{
    padding: 15px;
    margin-top: 23px;
    font-size: 19px;
    align-items: center;
    margin-left: 40%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#añadir{
    background-color: #d2d2d2;
    height: 30px;
    width: 150px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 1.5em;
}

#buscadorporpais{
    background-color: #ffc4f5;
    height: 30px;
    width: 230px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 110em;
    margin-top: 1em;
    
}

#buscarporpais{
    background-color: #92b2db;
    height: 30px;
    width: 150px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

body{
    align-content: center;
    background-color: rgb(238, 204, 240);
}

.info{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#resultado,
#resultado2{
    margin-left: 3em;
}


#banderas {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 2em;
}

.tarjeta {
    width: 400px;
    margin: 20px;
    border: 1px solid gray;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
}

.tarjeta img {
    width: 100%;
    border-radius: 10px;
}
